<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospital</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5 mb-5">
    <h1>Add patient</h1>
    <form action="/welcome/admin/patient/add" method="post">
        <input type="text" name="email" placeholder="Enter the email" class="form-control"><br>
        <input type="text" name="firstName" placeholder="Enter firstname" class="form-control"><br>
        <input type="text" name="lastName" placeholder="Enter lastname" class="form-control"><br>
        <button type="submit" class="btn btn-success">Add article</button>
    </form>

</div>


</body>
</html>